<%= render "layouts/user_session" %>


<div class="course_info">
  <div class="card course_card">
    <div class="card-body">
      <h2 class="card-title card_title">Courses</h2>
      <br>
        <%= render "teacher/teaching_courses" %>
    </div>
  </div>
</div>